/*--------- GENERAL----------*/

body {
	font-family: 'Arial', Gadget, sans-serif;
	margin: 0%;
}


div#main_wrapper {
	margin: 0px auto;
	padding: 0px;
}


h1 {
	text-align: center;
	font-size: 2,7em;
	font-weight: 800;
}

p {
	font-size: 14px;
	font-weight: 500;
}

/*---------->EN-TÊTE<----------*/

header {
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: white;
	font-size: 1.3em;
	margin: 0px auto;
}

header div#logo  {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}


header div#logo img {
	width: auto;
	height: auto;
}


/*----MENU-----*/

nav ul {
	list-style-type: none;
	display: flex;
}


nav li {
	margin: 0 15px;
	text-decoration: none;
}

nav a {
	font-size: 0.9em;
	color: grey;
	text-decoration: none;
	padding: 20px 10px;
}

nav a:hover {
	border-top: 2px solid cyan;
	
}


/*---------->SLIDER<---------- */

section#slider {
	margin-top: 17px;

}

section#slider ul {
	list-style-type: none;
	width: 100%;
	padding: 0px;
}

section#slider ul li {
	width: 100%;
	
}

section#slider img {
	width: 100%;
	
}

/*---------->SERVICES<---------- */


section#services {
	width: 80%;
	margin: 0px auto;
	
}



div.header_services p {
	text-align: center;
	
	
}

div.main_services {
	display: flex;
	flex-direction: row;
	align-items: center;	
}

/*---------->PROJETS<---------- */

section#projets {
	width: 100%;
	background-color: darkgrey;
	
}

div.header_projets {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	
}

div.header_projets ul li {
	position: relative;
	list-style: none;	
	display: flex;
	background-color: aliceblue;
}

div.header_projets ul {
	display: flex;
	justify-content: center;
		
}

/*---------->CONTACT<---------- */

section#contact {
	width: 90%;
	
}