/*--------- GENERAL----------*/

body {
	font-family: 'Arial', Gadget, sans-serif;
	margin: 0%
}

* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	font-size: 2em;
	font-weight: 800;
	color: #272727;
}

P {
	color: #64686D;
}

h3,
h2 {
	color: #272727;
}

@media screen and (max-width: 750px) {

	h1 {
		font-size: 1.6em;
	}
}

@media screen and (max-width: 479px) {
	h1 {
		font-size: 1.3em;
	}
}

/*---------->HEADER<----------*/


header {
	width: 100%;
	position: fixed;
	z-index: 2;
	margin: 0px;
	top: 0px;
	display: flex;
	justify-content: space-around;
	background-color: white;
	font-size: 1.3em;
	padding: 10px;
}

/*----LOGO-----*/


#logo img {
	width: auto;
	height: auto;
	margin-top: 0px;
}

img {
	padding: 0px;
}


/*----MENU-----*/

nav ul {
	list-style-type: none;
	display: flex;
}


nav li {
	margin: 0px;
	text-decoration: none;
}

nav a {
	font-size: 0.7em;
	color: #7A7A7A;
	text-decoration: none;
	text-align: center;
	padding: 34px 18px;
}

nav a:hover {
	border-top: 3px solid #5CADD3;
	padding: 34px 18px;
}


@media screen and (max-width: 767px) {
	header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px;

	}

	header div#logo {
		margin: 0px auto;
	}

	header div#logo img {
		width: auto;
		height: auto;
		padding: 0px;
	}

	nav ul {
		border-top: 2px solid #429393;
		padding: 8px;
		justify-content: center;
		margin-bottom: 0px;
	}

	nav a {
		font-size: 0.8em;
		color: grey;
		text-decoration: none;
	}

	nav a:hover {
		padding: 13px 10px;
		color: #429393;
		font-weight: 900;
		border-top: none;
	}

}


/*---------->CAROUSEL<---------- */

#carousel-box {
	position: relative;
	overflow: hidden;
}

/*--> ARROWS <-- */

.arrows {
	position: absolute;
	top: 50%;
}

.arrow-left {
	left: -40px;
}

.arrow-right {
	right: -40px;
}

.fa-angle-left,
.fa-angle-right {
	color: white;
}

.fa-angle-left {
	padding-left: 30px;
}

.fa-angle-right {
	padding-right: 30px;
}

.fa-circle {
	color: rgba(128, 128, 128, 0.21);
}

/*-->IMAGE<--*/

#carousel img {
	position: relative;
	overflow: hidden;
	margin-top: 70px;
	width: 100%;

}

/*-->TEXT CAROUSEL<--*/

#text_carousel {
	position: absolute;
	top: 130px;
	left: 218px;
	text-align: left;
}

#text_carousel h2 {
	font-size: 2em;
}

#text_carousel p,
#text_carousel h2 {
	color: white;
}

#text_carousel a {
	text-decoration: none;
	display: inline-block;
	color: white;
	background-color: #5CADD3;
	padding: 10px;
	border-bottom: 4px solid #4494BB;
	margin-top: 4px;
}

#text_carousel strong {
	color: #5CADD3;
}

@media screen and (max-width: 1024px) {

	#text_carousel {
		left: 35px;
		top: 100px;
	}

}


@media screen and (max-width: 767px) {


	.arrows {
		top: 60%;
	}

	#carousel img {
		margin-top: 150px
	}

	#text_carousel h2 {
		font-size: 1.4em;
	}

	div#text_carousel {
		top: 180px;
	}


	#carousel {
		display: flex;
		flex-direction: column;
	}


	#text_carousel {
		position: static;
		left: 10px;
		text-align: center;

	}

	#text_carousel p,
	#text_carousel h2 {
		color: gray;
	}



	#text_carousel a {
		width: 60%;
	}
}


/*---------------- >LES 3 BLOCKS< ---------------- */

#blocks {
	width: 100%;
}


.line {
	width: 160px;
	height: 1px;
	background-color: #EBEBEB;
	position: relative;
	margin: 0px auto;
}

.line-dot .fa-circle {
	background-color: white;
	color: #5CADD3;
	border: 6px solid white;
	position: absolute;
	left: 40%;
	top: -12px;
	border-radius: 50%;
}

/*---------->SERVICES<---------- */

.engagement {
	display: flex;
	flex-direction: column;
}

.engagement h3 {
	margin-bottom: 05px;

}

.engagement p {
	margin-top: 0px;
}

.spec {
	display: flex;
	flex-direction: row;
}


.icon {
	font-size: 2.2em;
}

.s-circle {
	color: #5CADD3;
	position: absolute;
	top: 45px;
	right: 21px;
	z-index: 1;
	background-color: white;
	padding: 4px;
	font-size: 12px
}

.fa-chart-line,
.fa-cubes,
.fa-chart-pie {
	color: #5CADD3;

}

div.fa-stack {
	width: 2.2em;
}

.icon .fa-circle {
	border: 2px solid #F5F5F5;
	border-radius: 50%;
	color: white;
}

.icon-box {
	padding-right: 30px;
	padding-top: 20px;
	position: relative;

}


#services {
	padding: 10px 10%;
	margin: 0px auto 20px 0px;
}


#services img {
	width: 100%;
	height: 100%;
}

.header_services p {
	text-align: center;
	padding: 0 10%;
}

.main_services {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 30px;
}

#description {
	display: flex;
	flex-direction: column;
	width: 60%;
}


@media screen and (max-width: 991px) {

	#description {
		width: 90%;
	}

	.main_services {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 479px) {
	.spec {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.icon-box {
		width: 54px;
		margin: 0 auto;
	}

	.icon {
		font-size: 1.5em;
	}

	.s-circle {
		right: -4px;
		top: 39px;
		font-size: 0.5em;
		position: absolute;
	}

}


/*---------> ICONES <----------*/

.fas fa-circle {
	font-size: 10px;
}

/*---------->PROJETS<---------- */

#projets {
	width: 100%;
	background-color: #F5F5F5;

}

.header_projets {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;

}

#menu_projets {
	display: flex;
	justify-content: center;

}

#menu_projets ul {

	margin: 45px 0px;
	padding: 15px 0px;
	list-style-type: none;
	background-color: #E5E5E5;
	border-radius: 5px;
}

#menu_projets ul li {
	display: inline;
	position: relative;
}


#menu_projets a:hover {
	background-color: #5CADD3;
	border-bottom: 3px solid #468CAD;
	color: white;
}

#menu_projets ul li:first-child a:hover {
	border-radius: 5px 0px 0px 5px;
}

#menu_projets ul li:last-child a:hover {
	border-radius: 0px 5px 5px 0px;
}



#menu_projets a {
	text-decoration: none;
	color: #65696E;
	padding: 15px 10px 15px 15px;
}

i.fa-caret-down {
	position: absolute;
	top: 28px;
	left: 43%;
	color: #468CAD;
	visibility: hidden;
}

#menu_projets ul li a:hover i.fa-caret-down {
	visibility: hidden;
}


@media screen and (max-width: 479px) {


	#menu_projets ul {

		margin: 45px 0px;
		padding: 0px;
		list-style-type: none;
		border-radius: 5px;
		display: inline-grid;
		width: 100%;
		
	}

	#menu_projets ul li {
		display: inline;
		padding: 5px 0;
		border-bottom: 2px solid white;
		width: 100%;
		background-color: #5CADD3;
	
	}
	
	#menu_projets ul li:first-child {
		border-radius: 8px 8px 0px 0px;
	}
	
	#menu_projets ul li:last-child {
		border-radius: 0px 0px 8px 8px;
	}


	#menu_projets a:hover {
		color: white;
		border-bottom: none;
		padding: 0px;
		margin: 0px
	}



	#menu_projets a {
		text-decoration: none;
		color: #65696E;
	}


}

/* ---->BLOCK IMAGES<---- */

.projets_photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: left;
	color: white;

}

figure {
	position: relative;
}

figure:hover figcaption {
	visibility: visible;
}

figure img {
	width: 275px;
}

figcaption {
	background-color: rgba(15, 11, 11, 0.44);
	position: absolute;
	bottom: 4px;
	width: 100%;
	visibility: hidden;
	height: 35%;
	padding-left: 15px;
}

figcaption h3 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-weight: 900;
	color: white;
}

figcaption p {
	margin-top: 10px;
	color: white;
}


figcaption .eye {
	position: absolute;
	top: -20px;
	right: 10px;
	color: white;
	background-color: #5CADD3;
	border: 2px solid white;
	border-radius: 50%;
	padding: 10px;
}

@media screen and (max-width: 479px) {}

/*---------->CONTACT<---------- */



#contact {
	width: 100%;
	position: relative;

}

#contact_info {
	text-align: center;
}

#map {
	background-color: #429393;
}

iframe {
	opacity: 0.7;
}


#formulaire_contact {
	position: absolute;
	background-color: #e6e6e6aa;
	top: 200px;
	padding: 16px 16px 16px 16px;
	width: 300px;
	right: 100px;
}

#gras {
	font-weight: bold;
}

input[type="text"],
textarea,
input[type="email"] {
	width: 250px;
	font-size: 0.9em;
}

input[type="submit"] {
	width=150px;
	color: white;
	background-color: #5CADD3;
	border-radius: 5px;
	font-size: 1em;
	border-bottom: 3px solid #4494BB;
	height: 35px;
}


@media screen and (max-width: 767px) {

	#contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#formulaire_contact {
		position: initial;
		text-align: center;
		margin: 20px;
		width: 100%;
		right: 0px;
		display: contents;
		background-color: gray;
	}

}
