/*--------- GENERAL----------*/

body {
	font-family: 'Arial', Gadget, sans-serif;
	margin: 0%
}

* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	font-size: 40px;
	font-weight: 800;
	color: #272727;
}

P {
	color: #64686D;
}

h3, h2 {
	color: #272727;
}



/*---------->HEADER<----------*/


header {
	width: 100%;
	position: fixed;
	z-index: 1;
	margin: 0px;
	top: 0px;
	display: flex;
	justify-content: space-around;
	background-color: white;
	font-size: 1.3em;
	padding: 10px;
}

/*----LOGO-----*/


div#logo img {
	width: auto;
	height: auto;
	margin-top: 0px;
}

img {
	padding: 0px;
}


/*----MENU-----*/

nav ul {
	list-style-type: none;
	display: flex;
}


nav li {
	margin: 0px;
	text-decoration: none;
}

nav a {
	font-size: 0.7em;
	color: #7A7A7A;
	text-decoration: none;
	text-align: center;
	padding: 34px 18px;
}

nav a:hover {
	border-top: 3px solid #5CADD3;
	padding: 34px 18px; 
}


/*---------->SLIDER<---------- */



section#slider img {
	position: relative;
	overflow: hidden;
	margin-top: 70px;


}

div#text_slider {
	position: absolute;
	top: 130px;
	left: 218px;
	text-align: left;
}

#text_slider h2 {
	font-size: 30px;
}

div#text_slider p,
div#text_slider h2 {
	color: white;
}

div#text_slider a {
	text-decoration: none;
	display: inline-block;
	color: white;
	background-color: #5CADD3;
	padding: 10px;
	border-bottom: 4px solid #4494BB;
	margin-top: 4px;
}

#text_slider strong {
	color: #5CADD3;
}


section#slider img {
	width: 100%;

}

@media screen and (max-width: 1000px) {

	div#text_slider {
		position: absolute;
		left: 10px;
	}


}

@media screen and (max-width: 750px) {

	section#slider img {
		margin-top: 150px
	}

	#text_slider h2 {
		font-size: 1.4em;
	}

	div#text_slider {
		top: 180px;
	}
}

@media screen and (max-width: 700px) {
	
	section#slider {
		display: flex;
		flex-direction: column-reverse;
	}


	div#text_slider {
		position: static;
		left: 10px;
		text-align: center;
		margin-top: 150px;
		
	}

	div#text_slider p,
	div#text_slider h2 {
		color: gray;
	}
	
	section#slider img {
		margin-top: 10px
	}
	
	div#text_slider a {
	width: 50%;
}
	



}


/*---------------- >LES 3 BLOCKS< ---------------- */

div#blocks {
	width: 100%;
}

/*---------->SERVICES<---------- */


section#services {
	padding: 10px 10%;
	margin: 0px auto;
}


section#services img {
	width: 100%;
	height: 100%;
}

div.header_services p {
	text-align: center;
	padding: 0 10%;
}

div.main_services {
	display: flex;
	flex-direction: row;
	align-items: center;
}

div#description {
	display: flex;
	flex-direction: column;
}


@media screen and (max-width: 1250px) {

	div.main_services {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/*---------->PROJETS<---------- */

section#projets {
	width: 100%;
	background-color: #F5F5F5;

}

div.header_projets {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;

}

div#menu_projets {
	display: flex;
	justify-content: center;

}

div.header_projets ul {

	margin: 45px 0px;
	padding: 15px 0px;
	list-style-type: none;
	background-color: #E5E5E5;
	border-radius: 5px;

}

div.header_projets ul li {
	display: inline;

}


div.header_projets a:hover {
	background-color: #5CADD3;
	border-bottom: 3px solid #468CAD;
	color: white;

}

div.header_projets ul li:first-child a:hover {
	border-radius: 5px 0px 0px 5px;
}

div.header_projets ul li:last-child a:hover {
	border-radius: 0px 5px 5px 0px;
}



div.header_projets a {
	text-decoration: none;
	color: #65696E;
	padding: 15px 10px 15px 15px;
}


div.projets_photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: left;
	color: white;

}

figure {
	position: relative;
}

figure:hover figcaption {
	visibility: visible;
}

figure img {
	width: 275px;
}

figcaption {
	background-color: rgba(15, 11, 11, 0.44);
	position: absolute;
	bottom: 4px;
	width: 100%;
	visibility: hidden;
	height: 35%;
	padding-left: 15px;
}

figcaption h3 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-weight: 900;
}

figcaption p {
	margin-top: 10px;
}

@media screen and (max-width: 450px) {
	

}

/*---------->CONTACT<---------- */



section#contact {
	width: 100%;
	position: relative;

}

div#contact_info {
	text-align: center;
}

div#map {
	background-color: #429393;
}

iframe {
	opacity: 0.7;
}


div#formulaire_contact {
	position: absolute;
	background-color: #e6e6e6aa;
	top: 200px;
	padding: 16px 16px 16px 16px;
	width: 300px;
	right: 100px;
}

#gras {
	font-weight: bold;
}

input[type="text"],
textarea,
input[type="email"] {
	width: 250px;
	font-size: 15px;
}

input[type="submit"] {
	width=150px;
	color: white;
	background-color: #5CADD3;
	border-radius: 5px;
	font-size: 15px;
	border-bottom: 3px solid #4494BB;
	height: 35px;
}


@media screen and (max-width: 700px) {

	section#contact {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	div#formulaire_contact {
		position: initial;
		text-align: center;
		margin: 20px;
		width: 100%;
		right: 0px;
		display: contents;
		background-color: gray;
	}

}

/*---------->RESPONSIVE HEADER MAX-WIDTH: 750PX<----------*/


@media screen and (max-width: 750px) {
	header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px;

	}

	header div#logo {
		margin: 0px auto;
	}

	header div#logo img {
		width: auto;
		height: auto;
		padding: 0px;
	}

	nav ul {
		border-top: 2px solid #429393;
		padding: 8px;
		justify-content: center;
	}

	nav a {
		font-size: 0.9em;
		color: grey;
		text-decoration: none;
	}

	nav a:hover {
		padding: 13px 10px;
		color: #429393;
		font-weight: 900;
		border-top: none;
	}

}
